#root {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
  text-align: left;
}

.main-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.main-left-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;

}
